body {
    font-family: 'Montserrat', serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    color: #f8f8f2;
    height: 100%;
    margin: 0;
}

.navbar {
    align-items: center;
    text-align: center;
    background-color: aqua;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
    margin: 2%;
    display: flex;
    gap: 20px;
}

img {
    font-size: 10px;
    width: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
}
